{% extends "view.html" %}
{% block content %}
<div id="messages" class="messages hidden-message"></div>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div class="flask-messages">
					{% for message in messages %}
						<h2>{{ message }}</h2>
					{% endfor %}
				</div>
			{% endif %}
        {% endwith %}
{% if status %}
<div class="progress-container">
<div class="progress-bars">
    <div id="todo">
        <div class="base-progress">
            <div class="progress" style="width:{{ status.todopercent }}%">
                <span>Todo:{{ status.todopercent }}%</span>
            </div>
        </div>
    </div>
    <div id="qc">
        <div class="base-progress">
            <div class="progress" style="width:{{ status.qcpercent }}%">
                <span>Qualitycontrol:{{ status.qcpercent }}%</span>
            </div>
        </div>
    </div>
    <div id="hk">
        <div class="base-progress">
            <div class="progress" style="width:{{ status.hkpercent }}%">
                <span>HKStacks:{{ status.hkpercent }}%</span>
            </div>
        </div>  
    </div>
</div>
</div>
{% endif %}
{% if stations %}
<div class="home-sta-table-container">
<div class="home-sta-table">
    <table>
        <thead>
            <th>Station</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for sta in stations %}
                <tr>
                    <td>{{ sta.station }}</td>
                    <td>{{ sta.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endif %}
{% endblock %}