{% extends "view.html" %}
{% block content %}
    <div class="plot-container">
        {% if format == "station" %}
            <div class="plot-types">
                <img src="{{ plot }}"/>
            </div>
        {% elif format == "hk" %}
            <div class="plot-types">
                {% for p in plot %}
                    <img src="{{ p[0] }}"/>
                    <img src="{{ p[1] }}"/>
                {% endfor %}
            </div>
        {% else %}
            <div class="plot-types">
                <a href="{{ url_for('stationmap') }}"><img src="static/sta_thumb.png"/></a>
                <a href="{{ url_for('hkmap') }}"><img src="static/hk_thumb.png"/></a>
                <a href="{{ url_for('rfplots') }}"><img src="static/rayp_thumb.png"/></a>
            </div>
        {% endif %}
    </div>
{% endblock %}