<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<nav class="nav">
			<a href="{{ url_for('index') }}">Home</a>
			<a href="#modal" id="dl-modal-btn">Download Data</a>
			<a href="#modal" id="rf-modal-btn">Calculate RF</a>
			<a href="{{ url_for('qc') }}">QC Data</a>
			<a href="{{ url_for('hkstack') }}">HK Stack</a>
			<a href="{{ url_for('stations')}}">Stations</a>
			<a href="{{ url_for('plots') }}">Plots</a>
			<a id="dbadmin-dropdown" href="{{ url_for('dbAdmin') }}">DB Admin</a>
		</nav>
		{% block content %}
		{% endblock %}
		<div id="dl-modal" class="modal">
		    <div class="modal-content">
		    	<span id="dl-span" class="closebtn">&times;</span>
		    	{% include '_getData.html' %}
			</div>
		</div>
		<div id="rf-modal" class="modal">
			<div class="modal-content">
				<span id="rf-span" class="closebtn">&times;</span>
				{% include '_calcRF.html' %}
			</div>
		</div>
	</body>
	<script>
			let dlmodal = document.getElementById("dl-modal");
			let dlbtn = document.getElementById("dl-modal-btn");
			let dlspan = document.getElementById("dl-span");
			let rfmodal = document.getElementById("rf-modal");
			let rfbtn = document.getElementById("rf-modal-btn");
			let rfspan = document.getElementById("rf-span");
			
			function toggleDLModal() {
				dlmodal.classList.toggle("show-modal");
			}

			function toggleRFModal() {
				rfmodal.classList.toggle("show-modal");
			}
			
			function windowOnClick(event) {
				if (event.target === dlmodal) {
					toggleDLModal();
				}
				if (event.target === rfmodal) {
					toggleRFModal();
				}
			}

			dlbtn.addEventListener("click", toggleDLModal);
			//dlmodal.addEventListener("click", toggleModal);
			dlspan.addEventListener("click", toggleDLModal);
			rfbtn.addEventListener("click", toggleRFModal);
			rfspan.addEventListener("click", toggleRFModal);
			window.addEventListener("click", windowOnClick);
		</script>
</html>
